body {
    font-family: Arial, sans-serif;
    background-color: rgba(65, 131, 162, 0.8);
    text-align: left;
    padding: 20px;
}


h2 {
    color: green;
}


a {
    text-decoration: none;
    color: blue;
    font-size: 18px;
}


.aiText{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.selectedImage{
    max-height: 450px;
    max-width: 500px;
    color: blue;
}


.displayed-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -300px;
}
